html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
  background-image: url("..images/leaf-bg.svg");
  background-size: 64px auto;
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;

}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {

}

.banner {

}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
